/* Your button CSS file */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

.btn-medium {
  border: 1px solid grey;
  border-radius: 46px;
  color: white;
  background-color: black;
  font-family: 'Comic Neue', cursive;
  font-size: 22px;
  padding: 10px 25px;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
}

.btn-medium:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.btn-treehouse {
  background-color: #60E1E0;
  color: black;
  border-radius: 8px;
  font-size: 22px;
  padding: 10px 25px;
  font-weight: bold;
  margin-left: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
}

.btn-treehouse:hover {
  background-color: #6369D1;
  color: white;
}

.btn-yours {
  background-color: #8F2D56;
  color: #EAE0D5;
  font-size: 22px;
  padding: 10px 60px;
  border-radius: 8px;
  margin-left: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  font-weight: 600;
}

.btn-yours:hover {
  background-color: #D81159;
}
